doctype5
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Expreso Palmira
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        
        
    body
        div(class='contenedor')
            div(class='opciones')
                
                div(class='correo linea' href='#')
                    a(href='#') 
                        img(src='img/botones/mailing.svg')
                    a(href='#') servicioalcliente@expresopalmira.com
                
                div(class='redes_sociales linea')
                    a(href='#') 
                        img(src='img/botones/facebook.svg')
                    a(href='#') 
                        img(src='img/botones/instagram.svg')
                    a(href='#') 
                        img(src='img/botones/twitter.svg')
                
                div(class='iniciar-sesion')
                    a(href='#') Iniciar Sesión
                    a(href='#') 
                        img(href='#' src='img/botones/usuario.svg')
            
            header
                div(class='logo')
                    a(href='#') 
                        img(src='img/botones/logo.png')    
                nav 
                    a(href='#' ) INICIO
                    a(href='#' ) NOSOTROS
                    a(href='#' ) RUTAS
                    a(href='#' ) BUSES
                    a(href='#' ) SERVICIO AL CLIENTE

                    div(class='carrito linea')
                        a(href='#')
                            img(src='img/botones/carrito_compras.svg')
                    div(class='lupa')
                        a(href='#')
                            img(src='img/botones/lupa.svg')
                    
            div(class='banner')
                a(href="#")
                    img(src="img/home/banner.png", alt="" )
            
                div(class='buscador')
                    div(class='casillas')
                    div(class='casillas')
                    div(class='casillas')






            